<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        
    </script>
</head>

<body>

<p id="errorBalance" style="color: red"><%= message%></p>
<form method="post">
    <input type="text" placeholder="Please enter your card number" id="cardNumber" name="cardNumber" style=" width: 250px;
    height: 25px;
    border-radius: 5px;" required/>
    <input type="submit" value="Add Balance" style="border-radius: 2px; margin: 10px">
</form>
<br/>
<br/>
<a href="/card/buy">Quay lại trang mua</a>
</body>
</html>